.layout {
  min-height: 100vh;
  background-color: var(--background-color);
}

.main {
  margin-left: var(--sidebar-width);
  margin-top: var(--header-height);
  min-height: calc(100vh - var(--header-height));
  background-color: var(--gray-dark-color);
}

.content {
  padding: var(--spacing-lr-content);
  max-width: 1200px;
  margin: 0 auto;
  color: var(--white-color);
  min-height: calc(100vh - var(--header-height));
}

@media screen and (max-width: 768px) {
  .main {
    margin-left: 0;
  }

  .content {
    padding: 20px;
  }
}
