.dark-mode-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: var(--white-color);
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  //   overflow: hidden;

  svg {
    font-size: 20px;
    transition: transform 0.3s ease;
    color: var(--white-color);
  }

  &:hover {
    background-color: var(--gray-medium-color);
  }

  &:active {
    transform: scale(0.95);
  }

  // Animation khi chuyển đổi
  &.active {
    svg {
      transform: rotate(180deg);
    }
  }

  // Hiệu ứng glow cho dark mode
  &:not(.active) {
    &:hover {
      box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
    }
  }

  // Hiệu ứng glow cho light mode
  &.active {
    color: var(--black-color);

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }
  }
}

// Responsive
@media screen and (max-width: 768px) {
  .dark-mode-toggle {
    width: 36px;
    height: 36px;

    svg {
      font-size: 18px;
    }
  }
}
