.header {
  height: var(--header-height);
  background-color: var(--background-color);
  border-bottom: 1px solid var(--gray-medium-color);
  position: fixed;
  top: 0;
  left: var(--sidebar-width);
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    border-radius: 100rem;
  }
}
