.menu-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 500;
  opacity: 0.4;
  line-height: 15px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s linear;
  color: var(--white-color);

  &:hover,
  &.active {
    &:after {
      content: "";
      position: absolute;
      width: 1.5px;
      height: 100%;
      background: var(--blue-light-color);
      left: 0;
    }
    opacity: 1;
  }
}

.title {
  margin-top: 2px;
}

@media screen and (max-width: 1279px) {
  .title {
    font-size: 13px;
  }
}

.icon > svg {
  width: 23px;
  height: 23px;
}
